/* responsive for mobile  */
@media screen and (max-width: 600px) {

    /* shared style  */
    .title {
        font-size: 22px;
    }

    .description {
        font-size: 14px;
    }

    /* nav style  */
    nav {
        width: 95vw;
        margin: 0 auto;
        margin-bottom: 25px;
    }

    nav>ul {
        display: none;
    }

    nav>label {
        flex-direction: column;
        display: initial;
    }

    .branding img {
        height: 25px;
        width: 25px;
    }

    .branding h2 {
        font-size: 20px;
        margin-left: 10px;
    }

    /* banner of header  */
    .banner {
        width: 95vw;
        height: fit-content;
        background-position-y: center;
        background-size: cover;
        margin-bottom: 36px;
    }

    .banner h2 {
        font-size: 22px;
    }

    .banner p {
        width: 90%;
    }

    .input-box {
        flex-direction: column;
        width: 80%;
    }

    /* popular tour section  */
    .popular-tours {
        width: 95vw;
        flex-direction: column;
    }

    .popular-tours-content {
        width: 90%;
        margin: auto;
    }

    .popular-tours-img {
        width: 100%;
        margin: auto;
    }

    /* destination chose section  */
    .destination-chose {
        width: 95vw;
        margin: 30px auto;
    }

    .destination-chose-content {
        width: 90%;
        margin-bottom: 30px;
    }

    .destination-area-1,
    .destination-area-2,
    .destination-area-3 {
        grid-template-columns: 1fr;
    }

    .destination-area-1 .div-1,
    .div-2 {
        background-position-y: center;
        background-size: cover;
    }

    .destination-area-3 .div-6 {
        background-position-x: center;
        background-size: cover;
    }

    /* why chose us section  */
    .why-chose {
        width: 95vw;
        margin: 30px auto;
    }

    .why-chose-content {
        width: 90%;
        margin: auto;
        margin-bottom: 25px;
    }

    .why-chose-card-container-1 {
        grid-template-columns: 1fr;
    }

    .why-chose-card-container .card-1,
    .card-2{
        width: calc(100% - 80px);
        margin: auto;
    }

    /* simple perfect section  */
    .simple-perfect{
        width: 95vw;
        margin: 30px auto;
        flex-direction: column;
    }
    .simple-perfect-content{
        width: 95%;
        margin: 30px auto;
    }
    .simple-perfect-img{
        width: 100%;
    }

    /* newsletter section  */
    .newsletter{
        width: 95vw;
        flex-direction: column;
    }
    .newsletter-content{
        width: calc(100% - 80px);
        margin: auto;
    }
    .newsletter-img{
        width: 100%;
    }
    .newsletter-img img{
        width: 100%;
    }
    .newsletter-img-box{
        bottom: 60px;
    }
    .newsletter-img-box h3{
        font-size: 22px;
    }
    .newsletter-img-box p{
        font-size: 15px;
    }


    /* footer section  */
    footer{
        margin-top: 30px;
        padding: 30px 0;
    }
    .logo h2{
        font-size: 22px;
        margin-left: 10px;
    }
    .logo img{
        height: 24px;
    }
    footer .p-1{
        width: 90%;
    }
    footer .p-2{
        width: 90%;
    }
}